
/backend/.env
.vscode/
.idea/

/backend/__pycache__


/frontend/node_modules/

# Build output
/frontend/dist/
/frontend/.next/
/frontend/build/

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
